<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bulls and Cows Game</title>
</head>
<body>
  <header>
      <h1>Bulls and Cows Game</h1>
      <nav>
          <form method="post" th:action="@{/logout}">
              <button type="submit">Log out</button>
          </form>
      </nav>
      <p>
          <b>Description:</b>
          The computer guesses a 4-digit number. The digits of the secret number are not repeated. <br/>
          Your task is to guess the that number. You have an unlimited number of attempts. <br/>
          In each attempt, you give the computer your version of the number. <br/>
          The computer reports how many digits are correctly guessed (bull) <br/>
          and how many digits are guessed without regard to position (cow). <br/>
          Based on the answer of the computer, you have to guess the number in several steps..
      </p>
      <p>
          <b>Statistics:</b>
          Average number of attempts to win -
          <span th:text="${#numbers.formatDecimal(averageAttemptNumberToWin, 1, 2)}">0</span>
      </p>
      <hr/>
  </header>
  <main>
      Enter your number. Try to guess!
      <div id="input">
          <form method="post" th:action="@{/game/try}">
              <p>
                  <input disabled th:value="${userNumber}">
              </p>
              <p>
                  <input type="submit" value="1" th:formaction="@{/game/enter/1}">
                  <input type="submit" value="2" th:formaction="@{/game/enter/2}">
                  <input type="submit" value="3" th:formaction="@{/game/enter/3}">
                  <br>
                  <input type="submit" value="4" th:formaction="@{/game/enter/4}">
                  <input type="submit" value="5" th:formaction="@{/game/enter/5}">
                  <input type="submit" value="6" th:formaction="@{/game/enter/6}">
                  <br>
                  <input type="submit" value="7" th:formaction="@{/game/enter/7}">
                  <input type="submit" value="8" th:formaction="@{/game/enter/8}">
                  <input type="submit" value="9" th:formaction="@{/game/enter/9}">
                  <br>
                  <input type="submit" value="0" th:formaction="@{/game/enter/0}">
                  <input type="submit" value="Delete" th:formaction="@{/game/delete}">
                  <br>
              </p>
              <p>
                  <input type="submit" value="Try">
              </p>
          </form>
      </div>
      <div id="error">
          <span th:text="${error}" style="color:red">Error placeholder</span>
      </div>
      <div id="result">
          <p>
              <span th:utext="${result}">Result placeholder</span>
          </p>
      </div>
  </main>
  <footer>
      <hr/>
      <p>
          Application was developed by Leonid Asanin.
      </p>
      <address>
          Contact information:<br/>
          Email: <a href="mailto:l.asanin@mail.ru">l.asanin@mail.ru</a><br/>
          GitHub: <a href="https://github.com/LeonidAsanin" target="_blank">github.com/LeonidAsanin</a>
      </address>
  </footer>
</body>
</html>