<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="/../static/style.css"/>
</head>
<body>
<header>
    <h1>Bulls and Cows Game</h1>
</header>
<main>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <fieldset>
            <legend>Authorization</legend>
            <br/>

            <div>
                <label for="username">Username</label>
                <input type="text" required id="username" th:field="*{username}"/>
            </div>
            <br/>

            <div>
                <label for="password">Password</label>
                <input type="password" required id="password" th:field="*{password}"/>
            </div>
            <br/>

            <button type="submit">Log in</button>
            <br/>
        </fieldset>

        <div class="errorMessage" th:if="${error} != null" th:text="${error}" style="color:red">
            Login Error
        </div>
        <br/>
    </form>

    <form id="button" th:action="@{/register}">
        <button type="submit">Register new user</button>
    </form>
</main>
<footer>
    <p>
        Application was developed by Leonid Asanin.
    </p>
    <address>
        Contact information:<br>
        Email: <a href="mailto:l.asanin@mail.ru">l.asanin@mail.ru</a><br>
        GitHub: <a href="https://github.com/LeonidAsanin" target="_blank">github.com/LeonidAsanin</a>
    </address>
</footer>
</body>
</html>